{% extends 'base/base.html' %}

{% block page_content %}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="40X">403</div>
        <p class="lead text-gray-800 mb-5">Page Forbidden</p>
        <p class="text-gray-500 mb-0">It looks like you don't have the necessary permissions to see this</p>
        <a href="{% url "bases:home" %}">&larr; Back to Dashboard</a>
    </div>

</div>
{% endblock %}

{% block js_page %}
{% endblock %}